---
layout: default
ref: index
lang: de
---
<nav class="diagonals" id="menu">
    <div class="content">
        <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="logo">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#about">Über uns</a></li>
            <li><a href="#beliefs">Überzeugungen</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#jobs">Jobs</a></li>
            <li><a href="#contact">Kontakt</a></li>
        </ul>
    </div>
</nav>

<section id="hero">
    {% include sections/hero.html %}
</section>

<section class="diagonals" id="about">
    <div class="content">
        {% capture my_include %}{% include sections/about.md %}{% endcapture %}
        {{ my_include | markdownify }}
    </div>
</section>

<section class="diagonals" id="beliefs">
    <div class="content">
        {% capture my_include %}{% include sections/beliefs.md %}{% endcapture %}
        {{ my_include | markdownify }}
    </div>
</section>

<section id="services">
    <div class="content">
        {% capture my_include %}{% include sections/services.md %}{% endcapture %}
        {{ my_include | markdownify }}
    </div>
</section>

<section class="diagonals" id="team">
    <div class="content">
        {% capture my_include %}{% include sections/team.md %}{% endcapture %}
        {{ my_include | markdownify }}
    </div>
</section>

<section id="jobs">
    <div class="content">
        {% capture my_include %}{% include sections/jobs.md %}{% endcapture %}
        {{ my_include | markdownify }}
    </div>
</section>

<section class="diagonals" id="contact">
    <div class="content">
        {% capture my_include %}{% include sections/contact.md %}{% endcapture %}
        {{ my_include | markdownify }}
    </div>
</section>
