---
layout: default
ref: index
lang: de
---
<section class="diagonals" id="hero">
    <div class="content">
        {% include sections/hero.html %}
    </div>
</section>

<section class="diagonals" id="about">
    <div class="content">
        {% capture my_include %}{% include sections/about.md %}{% endcapture %}
        {{ my_include | markdownify }}
    </div>
</section>

<section class="diagonals" id="beliefs">
    <div class="content">
        {% capture my_include %}{% include sections/beliefs.md %}{% endcapture %}
        {{ my_include | markdownify }}
    </div>
</section>

<section id="services">
    <div class="content">
        {% capture my_include %}{% include sections/services.md %}{% endcapture %}
        {{ my_include | markdownify }}
    </div>
</section>

<section class="diagonals" id="contact">
    <div class="content">
        {% capture my_include %}{% include sections/contact.md %}{% endcapture %}
        {{ my_include | markdownify }}
    </div>
</section>
