section#about {
  background: var(--primary-color)
    linear-gradient(
      30deg,
      var(--primary-color) 50%,
      var(--secondary-color) 100%
    );
  color: white;

  h1,
  h2,
  h3 {
    color: inherit;
  }

  .content {
    color: white;
  }
}
