section#hero {
  background-color: var(--primary-bg-color);
  //color: white;

  .content {
    @include md {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .heading {
      flex: 1 1 auto;
      padding: 1em;
    }

    img#claimimage {

      @include md {
        flex: 0 0 auto;
        width: 400px;
        margin-left: 1em;
      }

      width: 100%;
    }
  }
}