section#hero {

  @include md {
    display: flex;
  }

  .heading {
    flex: 1 1 auto;
  }

  img#claimimage {

    @include md {
      flex: 0 0 auto;
      width: 400px;
      margin-left: 20px;
    }

    width: 100%;
  }

}