@charset "utf-8";
@import "breakpoints";

:root {
  --primary-color: #da184f;
  --secondary-color: #1bcad6;
  --primary-bg-color: white;
  --secondary-bg-color: #eee;
}

body {
  background-color: var(--primary-bg-color);
  font-size: 150%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--primary-color);
}

.diagonals {
  margin-top: 5vw;
  background-color: var(--secondary-bg-color);
  padding: 5vw 0 5vw;
  clip-path: polygon(0% 5vw, 100% 0%, 100% calc(100% - 5vw), 0% 100%);

  & + .diagonals {
    margin-top: calc(-5vw + 10px);
  }
  &:first-child {
    margin-top: 0;
    padding-top: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5vw), 0% 100%);
  }
  &:last-child {
    clip-path: polygon(0% 5vw, 100% 0%, 100% 100%, 0% 100%);
    padding-bottom: 0;
  }
}

section,
footer,
nav {
  .content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    @include md {
      padding: 1.5em;
    }
  }
}

footer.diagonals {
  font-size: 75%;
  text-align: center;
  background-color: var(--primary-color);
  color: white;

  a {
    color: inherit;
  }

  ul {
    padding: 0;
    margin-bottom: 0;

    li {
      list-style: none;
      display: inline;
    }
  }
}

@import "nav";
@import "hero";
@import "about";
@import "team";
@import "legal";
