@charset "utf-8";
@import "breakpoints";

body {
  background-color: white;
  color: #222;
  font-size: 150%;
  margin: 0;
}

main {
  margin: 20px auto;
  max-width: 1000px;
}

h1, h2, h3 {
  text-align: center;
}

section.title {

  @include md {
    display: flex;
  }

  .text {
    flex: 1 1 auto;
  }

  .image {
    text-align: center;
    img {
      width: 300px;
      margin-left: 20px;
    }
  }

  #claims {
    li {
      display: none;
    }
  }
}
