section#mminks-profile {
  // background: var(--primary-color) linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color) 75%);
  background: var(--primary-color);
  color: white;
}

section#mminks-hello {
  background-color: white;

  @include md {
    img.avatar {
      float: right;
    }
  }

  a {
    color: inherit;
  }
}

section#mminks-profile {
  a {
    color: inherit;
  }
}
